<h1>Make an Appointment</h1>
<h3><%= link_to "Add Appointment", new_doctor_appt_path(@doctor) %></h3>
<hr />
<%# <h3>Your Appointments</h3>
<ul>
  <% @appts.each do |appt| %>
  <%# <li> %>
    <%# appt.user.time %>
  <%# </li>
  <% end %>
<%# </ul> %>